h1{
  font-family: Montserrat;
}

.date{
  font-family: Roboto;
  color: #008080;
}

.post-content{
  font-family: Open Sans;
}

.post{
  background-color: #fffafa;
}

body{
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
}